{% extends "base.njk" %}

{# Define specific title for the home page #}
{% set title = "My Awesome Blog - Home" %}

{% block content %}


    <h1>Blog Posts</h1>

    {# This is the actual display logic #}
    {% if collections.post and collections.post.length > 0 %}
        <ul>
            {% for post in collections.post %}
                <li>
                    <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
                    {% if post.data.summary %}
                       <div class="post-summary">
                           {{ post.data.summary | safe }}
                       </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No blog posts found yet!</p>
    {% endif %}

{% endblock %}